* {
	scrollbar-width: thin;
	scrollbar-color: #d8d8d8 #fff;
}

main {
	max-width: 640px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

@media (max-width: 768px) {
	main {
		padding: 0.5rem;
	}
}
